:root{
    --main-color: #d3ad7f;
    --black: #1313131a;
    --bg: #010103;
    --border: .1rem solid rgba(255,255,255,.3);

}
*{
    font-family: 'Roboto', sans-serif;
    margin: 0; padding: 0;
    box-sizing: border-none;
    outline: none; border: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: .2s linear;
}

html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-padding-top: 9rem;
    scroll-behavior: smooth;
}

html::-webkit-scrollbar{
    width: .8rem;
}

html::-webkit-scrollbar-track{
    background: transparent;
}

html::-webkit-scrollbar-thumb{
    background: #fff;
    border-radius: .5rem;
}

body{
    background: var(--bg);
}

.header{
    background: var(--bg);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.5rem 7%;
    border-bottom: var(--border);
    position: fixed;
    top: 0; left: 0; right: 0;
    z-index: 1000;
}

.header .logo img{
    height: 6rem;
}

.header .navbar a{
    margin: 0 1 rem;
    font-size: 1.6rem;
    color: #fff;
    margin-left: 16px;
}

.header .navbar a:hover{
    color: var(--main-color);
    border-bottom: .1rem solid var(--main-color);
    padding-bottom: .5rem;
}

.header .icons div{
    color: #fff;
    cursor: pointer;
    font-size: 2.5rem;
    margin-left: 2rem;
}

.header .icons div:hover{
    color: var(--main-color);
}

#menu-btn{
    display: none;
}

.header .icons div img{
    height: 3rem;
}

.header .search-form{
    position: absolute;
    top: 115%; right: 7%;
    background: #fff;
    width: 50rem;
    height: 5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transform: scaleY(0);
    transform-origin: top;
}

.header .search-form input{
    height: 100%;
    width: 100%;
    font-size: 1.6rem;
    color: var(--black);
    padding: 1rem;
    text-transform: none;
}

.header .search-form i{
    cursor: pointer;
    font-size: 2.2rem;
    margin-right: 1.5rem;
    color: var(--black);
}

.header .search-form i:hover{
    color: var(--main-color);
}

@media (max-width:991px){
    html{
        font-size: 55%;
    }
    .header{
        padding: 1.5rem 2rem;
    }
    section{
        padding: 2rem;
    }
}

@media (max-width:768px){
    #menu-btn{
        display: inline;
    }
    header .navbar{
        display: none;
        position: absolute;
        top: 100%; right: 0;
        background: black;
    }
    header .navbar a{
        display: block;
        margin: 1.5rem;
        padding: 5rem;
        font-size: 2rem;
    }
    .home{
        background-position: left;
        justify-content: center;
        text-align: center;
    }
    .home{
        font-size: 4.5rem;
    }
}

.header .navbar.active{
    display: inline;
}

.header .search-form.active{
    transform: scaleY(1);
}

.header .search-form{
    width: 90%;
    right: 2rem;
}

@media (max-width:450px){
    html{
        font-size: 50%;
    }
}

.home{
    min-height: 100vh;
    display: flex;
    align-items: center;
    background: url(../background/background.jpg)no-repeat;
    background-size: cover;
    background-position: center;
}

section{
    padding: 2rem 7%;
}

.home .content{
    max-width: 60rem;
}

.home .content h3{
    font-size: 6rem;
    text-transform: uppercase;
    color: #fff;
}

.home .content p{
    font-size: 1.6rem;
    font-weight: bold;
    line-height: 1.8;
    padding: 1rem 0;
    color: #fff;
    max-width: 530px;
}

.home .content a{
    text-decoration: none;
    font-size: 2rem;
    background: #fff;
    padding: 10px;
    border-radius: 15px;
    color: black;
    cursor: pointer;
}
.home .content a:hover{
    color: var(--main-color);
    background: black;
}

.heading{
    text-align: center;
    color: #fff;
    text-transform: uppercase;
    padding-bottom: 3.5rem;
    font-size: 4rem;
}
.heading span{
    color: var(--main-color);
    text-transform: uppercase;
}

.about .row{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: var(--black);
    flex-wrap: wrap;
}

.about .row .image{
    flex: 1 1 39rem;
}
.about .row .image img{
    width: 100%;
}
.about .row .content{
    flex: 1 1 35rem;
    padding: 1rem;
}

.about .row .content h3{
    font-size: 3rem;
    color: #fff;
}

.about .row .content p{
    font-size: 1.6rem;
    color: #ccc;
    padding: 1rem 0;
    line-height: 1.8;
}

.btn1{
    text-decoration: none;
    font-size: 2rem;
    background: #fff;
    padding: 10px;
    border-radius: 15px;
    color: black;
    cursor: pointer;
    justify-content: center;
    
    max-width: 100%;
}
.btn1:hover{
    color: var(--main-color);
    background: black;
}

.menu .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap: 1.5rem;
}

.menu .box-container .box{
    padding: 5rem;
    text-align: center;
    border: var(--border);
}

.menu .box-container .box img{
    height: 10rem;
}

.menu .box-container .box h3{
    color: #fff;
    font-size: 2rem;
    padding: 1rem 0;
    max-width: 100%;
}

.menu .box-container .box button{
    margin-left: 5px;
    margin-right: 5px;
    background-color: rgb(225, 164, 28);
    border: none;
    height: 35px;
    width: 100px;
    border-radius: 15px;
    cursor: pointer
}

.menu .box-container .box button:hover{
    color: var(--main-color);
    background: black;
}

.menu .box-container .box button:active{
    background-color: rgb(225, 164, 28);
    color: #fff;
}

.review .box-container2{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap: 1.5rem;
}

.review .box-container2 .box2{
    border: var(--border);
    text-align: center;
    padding: 3rem 2rem;
}

.review .box-container2 .box2 p{
    font-size: 1.6rem;
    line-height: 1.8;
    color: #ccc;
    padding: 2rem 0;
}

.review .box-container2 .box2 .user{
    height: 7rem;
    width:  7rem;
    border-radius: 50%;
    object-fit: cover;
    object-position: center;
}

.review .box-container2 .box2  h3{
    padding: 1rem 0;
    font-size: 2rem;
    color: #fff;
}

.review .box-container2 .box2 img{
    height: 10rem;
    width: 10rem;
}

.review h1{
    font-size: 35.2px;
    color: #fff;
    text-align: center;
    padding-bottom: 3.5rem;
    text-transform: uppercase;
}

.review h1 span{
    color: var(--main-color);
    text-transform: uppercase;
}

.footer{
    background: var(--black);
    text-align: center;
}

.footer .share{
    padding: 1rem 0;
}

.face{
    height: 4rem;
    margin-left: 19px;
}

.footer .share a{
    height: 5rem;
    width: 5rem;
    line-height: 5rem;
    font-size: 2rem;
    color: #fff;
    border: var(--border);
    margin: .3rem;
    border-radius: 50%;
}

.footer .links{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 2rem 0;
    gap: 1rem;
}

.footer .links a{
    padding: .7rem 2rem;
    color: #fff;
    border: var(--border);
    font-size: 2rem;
}

.footer .links a:hover{
    background-color: var(--main-color);
    color: black;
}

.footer .credit{
    font-size: 2rem;
    color: #fff;
    font-weight: lighter;
    padding: 1.5rem;
}

.footer .credit span{
    color: var(--main-color);
    text-transform: uppercase;
}

#clock-container{
    display: flex;
    justify-content: center; 
    align-items: center;
    margin-bottom: 20px;
}
#clock{
    font-family: monospace;
    font-size: 5.5rem;
    font-weight: bold;
    text-align: center;
    color: var(--main-color);
    backdrop-filter: blur(5px);
    background-color: hsla(0, 0%, 100%, 0.1);
    width: 100%;
    text-shadow: 3px 3px 5px hsl(0, 0%, 0%);
}